
<ion-header>

  <ion-navbar>
    <ion-title><h6>Historial de {{pais}}</h6></ion-title>
  </ion-navbar>

</ion-header>


<ion-content (tap)="reintentarConexion($event)">

    <ion-card *ngIf="fallo">
        <img src="../../assets/imgs/errorConexion.png" name="sad"/>
        <ion-card-content>
          <ion-card-title class="card-title">
            ¡Error de conexión!
            </ion-card-title>
          <p> {{msgFallo}}</p>
        </ion-card-content>
        <p class="consejo">Toque la pantalla para reintar la conexión</p>
      </ion-card>



  <ion-list *ngIf="!fallo">
    <ion-item>
      <h1>{{pais}}</h1>
    <ion-thumbnail item-end>
        <img [src]="cod_pais|imagen">
      </ion-thumbnail>
    </ion-item>
  </ion-list>

    <ion-card *ngIf="!fallo">
        <ion-card-content>
          <p>Historial completo de partidos del 2016 al 2017</p>
          <ion-item-divider></ion-item-divider>
        </ion-card-content>
        <ion-grid>
          <ion-row text-center>
            <ion-col><ion-icon name="calendar"></ion-icon></ion-col>
            <ion-col><ion-icon name="people"></ion-icon></ion-col>
            <ion-col><ion-icon name="football"></ion-icon>-<ion-icon name="football"></ion-icon></ion-col>
            <ion-col><ion-icon name="people"></ion-icon></ion-col>
          </ion-row>
          <ion-row *ngFor="let equipo of equipos">
            <ion-col>{{equipo.fecha|date:'dd-MM-yy'}}</ion-col>
            <ion-col>{{equipo.equipo1}}</ion-col>
            <ion-col text-center>{{equipo.golesseleccion1}} - {{equipo.golesseleccion2}}</ion-col>
            <ion-col>{{equipo.equipo2}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
</ion-content>
